<div class="cd-card" [ngClass]="{'cdonsale': unCd.onsale === true}">
    <h2>{{ unCd.title | uppercase }}</h2>
    <p>Sortie le : {{ unCd.dateDeSortie | date: "dd/MM/yyyy" }}</p>
    <p>Auteur / Groupe : {{unCd.author}}</p>
    <p>Prix : {{ unCd.price | currency:'EUR'}}</p>
    <p>
        En stock : <span [ngStyle]="{ color: 'rgb(0,'+ unCd.quantite +',0)'}">{{unCd.quantite}}</span>
        <button (click)="onAddCD()">Ajouter une unité</button>
    </p>
    <p *ngIf="idcd === undefined">
        <button routerLink="/cd/{{unCd.id}}">Voir le détail</button>
    </p>
    <img [src]="unCd.thumbnail" [alt]="unCd.title">
</div>